extends layout

block content
	div#info
		h1 Alex Moran
		p Hello, and welcome to my personal website. My name is Alex Moran, and I am a recent graduate from the University of South Florida (go bulls). Prior to school, I had always like math and problem solving, and after discovering programming at college, I decided to go make my passion my career. Although I'm from Florida, I have recently made a gigantic move to the pacific north west and landed in the emerald city - Seattle, WA. Along with me on my move I picked up a compnaion, a rambunctious little kitten. I've love living in the city, thehustle and the bustle along with the moutains and trails.

