doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='http://code.jquery.com/jquery-latest.min.js')
	body
		div#cssmenu
			ul#box
				li
					a(href="/") About Me
				li
					a(href="/experience") Experience
				li
					a(href="/projects") Projects
				li
					a(href="/pictures") Pictures
				li 
					a(href="/contact") Contact
		div#mainContent

			block content