body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgba(126,179,86,1);
  background: -moz-linear-gradient(left, rgba(126,179,86,1) 0%, rgba(126,179,86,1) 41%, rgba(66,136,12,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(126,179,86,1)), color-stop(41%, rgba(126,179,86,1)), color-stop(100%, rgba(66,136,12,1)));
  background: -webkit-linear-gradient(left, rgba(126,179,86,1) 0%, rgba(126,179,86,1) 41%, rgba(66,136,12,1) 100%);
  background: -o-linear-gradient(left, rgba(126,179,86,1) 0%, rgba(126,179,86,1) 41%, rgba(66,136,12,1) 100%);
  background: -ms-linear-gradient(left, rgba(126,179,86,1) 0%, rgba(126,179,86,1) 41%, rgba(66,136,12,1) 100%);
  background: linear-gradient(to right, rgba(126,179,86,1) 0%, rgba(126,179,86,1) 41%, rgba(66,136,12,1) 100%);

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7eb356', endColorstr='#42880c', GradientType=1 );

}

a {
  color: #00B7FF;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
  background: #ADC85D;
  margin-top:2%;
  width: 41%;
  margin-right:11%;
  float: right;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #333333;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}

#mainContent {
  background: white;
  width:70%;
  margin-left:13%;
  margin-right:15%;
  padding-top:40px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#info {
  margin-left:2%;
  margin-bottom: 2%;
  width: 30%;
}